alias ctouch='unlikely_function_name(){ tmpd=$(mktemp -d) && mv "$1" "$tmpd/" && cp "$tmpd/$1" "$1" && rm "$tmpd/$1" && rmdir "$tmpd";  unset -f unlikely_function_name; }; unlikely_function_name'
alias gita='git add'
alias gitA='git add -A'
alias gitcm='git commit -m'
alias gitd='git diff'
alias gitp='git push'
alias gits='git status'
alias la='ls -la'
alias ll='ls -l'
alias lS='ls -lS'
alias ltr='ls -ltr'
alias sss='ssh -o "UserKnownHostsFile /dev/null" -o "StrictHostKeyChecking no" -l cloud_user'

# Kubernetes:
alias k='kubectl'
alias ka='kubectl apply'
alias kg='kubectl get'
alias kgp='kubectl get pods'
alias wkgp='watch kubectl get pods'

# Terraform
alias t='terraform'
alias ta='terraform apply'
alias tf='terraform fmt'
alias ti='terraform init'
alias tibf='terraform init -backend=false'
alias td='terraform destroy'
alias to='terraform output'
alias tp='terraform plan'
alias tv='terraform validate'
